.section {
  margin-bottom: 80px;
  margin-top: 20px;
}
.section > * ~ * {
  margin-top: 50px;
}

.section .section-title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--second-color);
}
